{%extends "base.html"%}
{% load static %}
{% load humanize %}
{%block content%}
            <div class="tm-section tm-section-pad tm-bg-gray searchList" id="tm-section-4">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-recommended-container">
                            <div class="tm-bg-white">
                                <div class="tm-bg-primary tm-sidebar-pad reservation-header">
                                    <div>
                                    <i class="fa fa-2x fa-plane"></i>
                                    <h3 class="tm-color-white tm-sidebar-title">예약번호 {{new_reservation.id}} 예약 날짜 : {{new_reservation.reservation_date | date:'n월 j일'}}</h3>     
                                    </div>
                                    <button class="btn btn-primary btn-reservation">예약 완료</button>
                                </div>
                                <div class="tm-sidebar-pad-2">
                                    <ul class="reservation-body">
                                        <li class="reservation-item">
                                                <div class="media-body tm-media-body ">
                                                    <table>
                                                        <tr>
                                                            <th>
                                                                <h4 class="text-uppercase tm-font-semibold ">{{new_reservation.go_ticket_id.departure_place}}({{new_reservation.go_ticket_id.departure_airport}})</h4>
                                                            </th>
                                                            <th>
                                                                &nbsp----------&nbsp&nbsp&nbsp&nbsp&nbsp
                                                            </th>
                                                            <th>
                                                                <h4 class="text-uppercase tm-font-semibold ">{{new_reservation.go_ticket_id.arrival_place}}({{new_reservation.go_ticket_id.arrival_airport}})</h4>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <h5 class="text-uppercase tm-font-normal ">출발시간</h5>
                                                            </th>
                                                            <th>

                                                            </th>
                                                            <th>
                                                                <h5 class="text-uppercase tm-font-normal ">도착시간</h5>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <h5 class="text-uppercase tm-font-normal ">{{new_reservation.go_ticket_id.departure_data | date:'n월 j일'}} {{new_reservation.go_ticket_id.departure_time | date:'H:i'}}</h5>
                                                            </th>
                                                            <th>

                                                            </th>
                                                            <th>
                                                                <h5 class="text-uppercase tm-font-normal ">{{new_reservation.go_ticket_id.departure_data | date:'n월 j일'}} {{new_reservation.go_ticket_id.arrival_time | date:'H:i'}}</h5>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                    <h2 class="text-uppercase tm-font-semibold ">총 금액 {{new_reservation.price | intcomma}}원</h2>
                                                </div>
                                                <div class="media-body tm-media-body ">
                                                    <table>
                                                        <tr>
                                                            <th>
                                                                <h4 class="text-uppercase tm-font-semibold ">{{new_reservation.come_ticket_id.departure_place}}({{new_reservation.come_ticket_id.departure_airport}})</h4>
                                                            </th>
                                                            <th>
                                                                &nbsp----------&nbsp&nbsp&nbsp&nbsp&nbsp
                                                            </th>
                                                            <th>
                                                                <h4 class="text-uppercase tm-font-semibold ">{{new_reservation.come_ticket_id.arrival_place}}({{new_reservation.come_ticket_id.arrival_airport}})</h4>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <h5 class="text-uppercase tm-font-normal ">출발시간</h5>
                                                            </th>
                                                            <th>

                                                            </th>
                                                            <th>
                                                                <h5 class="text-uppercase tm-font-normal ">도착시간</h5>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <h5 class="text-uppercase tm-font-normal ">{{new_reservation.come_ticket_id.departure_data | date:'n월 j일'}} {{new_reservation.come_ticket_id.departure_time | date:'H:i'}}</h5>
                                                            </th>
                                                            <th>

                                                            </th>
                                                            <th>
                                                                <h5 class="text-uppercase tm-font-normal ">{{new_reservation.come_ticket_id.departure_data | date:'n월 j일'}} {{new_reservation.come_ticket_id.arrival_time | date:'H:i'}}</h5>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </div> 
                                                <a class="btn btn-primary tm-btn-search" href="/">Home</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{%endblock content%}
{%block script%}            
        <script>



               function setPageNav(){
                if($(window).width() > 991) {
                    $('#tm-top-bar').singlePageNav({
                        currentClass:'active',
                        offset: 79
                    });   
                }
                else {
                    $('#tm-top-bar').singlePageNav({
                        currentClass:'active',
                        offset: 65
                    });   
                }
            }
        

            function togglePlayPause() {
                vid = $('.tmVideo').get(0);

                if(vid.paused) {
                    vid.play();
                    $('.tm-btn-play').hide();
                    $('.tm-btn-pause').show();
                }
                else {
                    vid.pause();
                    $('.tm-btn-play').show();
                    $('.tm-btn-pause').hide();   
                }  
            }
       
            $(document).ready(function(){

                $(window).on("scroll", function() {
                    if($(window).scrollTop() > 100) {
                        $(".tm-top-bar").addClass("active");
                        $(".login").addClass("active");
                    } else {
                        //remove the background property so it comes transparent again (defined in your css)
                       $(".tm-top-bar").removeClass("active");
                       $(".login").removeClass("active");
                    }
                });      

                // Google Map
              
                $(window).resize(function() {
                  setCarousel();
                  setPageNav();
                });

                // Close navbar after clicked
                $('.nav-link').click(function(){
                    $('#mainNav').removeClass('show');
                });

                // Control video
                $('.tm-btn-play').click(function() {
                    togglePlayPause();                                      
                });

                $('.tm-btn-pause').click(function() {
                    togglePlayPause();                                      
                });

                // Update the current year in copyright
                $('.tm-current-year').text(new Date().getFullYear());                           
            });

        </script>             
{%endblock script%}