{%extends "base.html"%}
{% load static %}
{% load humanize %}
{%block content%}
            <div class="tm-section tm-section-pad tm-bg-gray searchList" id="tm-section-4">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-recommended-container">
                            <div class="tm-bg-white">
                                {% if reservation_list%}
                                {% for reservation in reservation_list %}
                                <div class="tm-bg-primary tm-sidebar-pad reservation-header">
                                    <div>
                                    <i class="fa fa-2x fa-plane"></i>
                                    <h3 class="tm-color-white tm-sidebar-title">예약번호 {{reservation.id}} 예약 날짜 : {{reservation.reservation_date | date:'n월 j일'}}</h3>     
                                    </div>
                                    <form action="reservation_cancel" method="post">{% csrf_token %}
                                        <input type="hidden" id="reservation_id" name="reservation_id" value="{{reservation.id}}"></input>
                                        <button type="submit"class="btn btn-primary btn-reservation">예약 취소</button>
                                    </form>
                                </div>
                                <div class="tm-sidebar-pad-2">
                                    <ul class="reservation-body">
                                        <li class="reservation-item">
                                                <div class="media-body tm-media-body ">
                                                    <table>
                                                        <tr>
                                                            <th>
                                                                <h4 class="text-uppercase tm-font-semibold ">{{reservation.go_ticket_id.departure_place}}({{reservation.go_ticket_id.departure_airport}})</h4>
                                                            </th>
                                                            <th>
                                                                &nbsp----------&nbsp&nbsp&nbsp&nbsp&nbsp
                                                            </th>
                                                            <th>
                                                                <h4 class="text-uppercase tm-font-semibold ">{{reservation.go_ticket_id.arrival_place}}({{reservation.go_ticket_id.arrival_airport}})</h4>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <h5 class="text-uppercase tm-font-normal ">출발시간</h5>
                                                            </th>
                                                            <th>

                                                            </th>
                                                            <th>
                                                                <h5 class="text-uppercase tm-font-normal ">도착시간</h5>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <h5 class="text-uppercase tm-font-normal ">{{reservation.go_ticket_id.departure_data | date:'n월 j일'}} {{reservation.go_ticket_id.departure_time | date:'H:i'}}</h5>
                                                            </th>
                                                            <th>

                                                            </th>
                                                            <th>
                                                                <h5 class="text-uppercase tm-font-normal ">{{reservation.go_ticket_id.departure_data | date:'n월 j일'}} {{reservation.go_ticket_id.arrival_time | date:'H:i'}}</h5>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                    <h2 class="text-uppercase tm-font-semibold ">총 금액 {{reservation.price | intcomma}}원</h2>
                                                </div>
                                                {% if reservation.come_ticket_id != None %}
                                                <div class="media-body tm-media-body ">
                                                    <table>
                                                        <tr>
                                                            <th>
                                                                <h4 class="text-uppercase tm-font-semibold ">{{reservation.come_ticket_id.departure_place}}({{reservation.come_ticket_id.departure_airport}})</h4>
                                                            </th>
                                                            <th>
                                                                &nbsp----------&nbsp&nbsp&nbsp&nbsp&nbsp
                                                            </th>
                                                            <th>
                                                                <h4 class="text-uppercase tm-font-semibold ">{{reservation.come_ticket_id.arrival_place}}({{reservation.come_ticket_id.arrival_airport}})</h4>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <h5 class="text-uppercase tm-font-normal ">출발시간</h5>
                                                            </th>
                                                            <th>

                                                            </th>
                                                            <th>
                                                                <h5 class="text-uppercase tm-font-normal ">도착시간</h5>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <h5 class="text-uppercase tm-font-normal ">{{reservation.come_ticket_id.departure_data | date:'n월 j일'}} {{reservation.come_ticket_id.departure_time | date:'H:i'}}</h5>
                                                            </th>
                                                            <th>

                                                            </th>
                                                            <th>
                                                                <h5 class="text-uppercase tm-font-normal ">{{reservation.come_ticket_id.departure_data | date:'n월 j일'}} {{reservation.come_ticket_id.arrival_time | date:'H:i'}}</h5>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </div> 
                                                {% endif %}
                                        </li>
                                    </ul>
                                </div>
                                {% endfor %}
                                {% else %}
                                    <li class="searchList-item">
                                        <div class="media-body tm-media-body tm-bg-gray ">
                                            <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">예약내역이 없습니다</h4>
                                        </div>
                                    </li>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{%endblock content%}
{%block script%}
            <script src="{%static 'js/searchList-js.js'%}"></script>
{%endblock script%}