{%extends "base.html"%}
{% load static %}
{%block content%}
            <div class="tm-section tm-section-pad tm-bg-gray searchList" id="tm-section-4">
                <div class="container">
                    <div class="row">        
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-recommended-container">
                            <div class="tm-bg-white">
                               
                                <div class="tm-sidebar-pad-2">
                                    <ul class="searchList">
                                       
                                        <li class="searchList-checkedItem">
                                            <div class="media-body tm-media-body tm-bg-gray">
                                                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">가는편</h4>
                                            </div>
                                                <div class="media-body tm-media-body tm-bg-gray">
                                                    <p class="text-uppercase tm-font-semibold tm-sidebar-item-title">1월 11일(월)</p>
                                                </div>  <!--항공사 로고 대체 -->

                                                <div class="media-body tm-media-body tm-bg-gray ">
                                                    <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">06:05 - 07:10</h4>        
                                                </div>  
                                                <div class="media-body tm-media-body tm-bg-gray">
                                                    <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">서울(GMP) - 제주(CJU)</h4>
                                                </div> 
                                                <div class="media-body tm-media-body tm-bg-gray ">
                                                    <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">84,600원</h4>
                                                </div> 
                                                 <div class="media-body tm-media-body tm-bg-gray m">
                                                    <button class="btn btn-primary btn-searchList">항공편 변경</button>
                                                </div>                                                    
                                        </li>

                                    </ul>
                                   
                                </div>
                            </div>                            
                        </div>            
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-recommended-container">
                            <div class="tm-bg-white">
                                <div class="tm-bg-primary tm-sidebar-pad">
                                    <h3 class="tm-color-white tm-sidebar-title">오는편 선택|1월 13일</h3>                                    
                                </div>
                                <div class="tm-sidebar-pad-2">
                                    <ul class="searchList">
                                       
                                        <li class="searchList-item">

                                                <div class="media-body tm-media-body tm-bg-gray">
                                                    <img src="{%static 'img/tn-img-01.jpg'%}" alt="Image">
                                                    <p class="text-uppercase tm-font-semibold tm-sidebar-item-title">아시아나</p>
                                                </div>  <!--항공사 로고 대체 -->

                                                <div class="media-body tm-media-body tm-bg-gray ">
                                                    <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">06:05 - 07:10</h4>
                                                    <p class="text-uppercase tm-font-semibold tm-sidebar-item-title">1월 13일(수)</p>
                                                </div>  
                                     

                                                <div class="media-body tm-media-body tm-bg-gray">
                                                    <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">1시간 5분</h4>
                                                    <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">GMP - CJU</h4>
                                                </div> 

                                                <div class="media-body tm-media-body tm-bg-gray m">
                                                    <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">직항</h4>
                                                </div> 
                                                <div class="media-body tm-media-body tm-bg-gray ">
                                                    <p class="text-uppercase tm-font-semibold tm-sidebar-item-title"> 편도요금</p>
                                                    <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">84,600원</h4>
                                                </div> 
                                                 <div class="media-body tm-media-body tm-bg-gray m">
                                                    <form action="reservation" method="get">
                                                        <button type="submit" class="btn btn-primary btn-searchList">예약</button>
                                                    </form>
                                                </div>                                                    
                                        </li>

                                    </ul>
                                   
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
{%endblock content%}
{%block script%}            
        <script>



               function setPageNav(){
                if($(window).width() > 991) {
                    $('#tm-top-bar').singlePageNav({
                        currentClass:'active',
                        offset: 79
                    });   
                }
                else {
                    $('#tm-top-bar').singlePageNav({
                        currentClass:'active',
                        offset: 65
                    });   
                }
            }
        

            function togglePlayPause() {
                vid = $('.tmVideo').get(0);

                if(vid.paused) {
                    vid.play();
                    $('.tm-btn-play').hide();
                    $('.tm-btn-pause').show();
                }
                else {
                    vid.pause();
                    $('.tm-btn-play').show();
                    $('.tm-btn-pause').hide();   
                }  
            }
       
            $(document).ready(function(){

                $(window).on("scroll", function() {
                    if($(window).scrollTop() > 100) {
                        $(".tm-top-bar").addClass("active");
                        $(".login").addClass("active");
                    } else {
                        //remove the background property so it comes transparent again (defined in your css)
                       $(".tm-top-bar").removeClass("active");
                       $(".login").removeClass("active");
                    }
                });      

                // Google Map
              
                $(window).resize(function() {
                  setCarousel();
                  setPageNav();
                });

                // Close navbar after clicked
                $('.nav-link').click(function(){
                    $('#mainNav').removeClass('show');
                });

                // Control video
                $('.tm-btn-play').click(function() {
                    togglePlayPause();                                      
                });

                $('.tm-btn-pause').click(function() {
                    togglePlayPause();                                      
                });

                // Update the current year in copyright
                $('.tm-current-year').text(new Date().getFullYear());                           
            });

        </script>             
{%endblock script%}