{%extends "base.html"%}
{% load static %}
{% load humanize %}
{%block content%}
            <div class="tm-section tm-section-pad tm-bg-gray searchList" id="tm-section-4">
                <div class="container">
                    <div class="row">        
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-recommended-container">
                            <div class="tm-bg-white">
                               
                                <div class="tm-sidebar-pad-2">
                                    <ul class="searchList">
                                       
                                        <li class="searchList-checkedItem">
                                            <div class="media-body tm-media-body tm-bg-gray">
                                                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">가는편</h4>
                                            </div>
                                                <div class="media-body tm-media-body tm-bg-gray">
                                                    <!-- <p class="text-uppercase tm-font-semibold tm-sidebar-item-title">1월 11일(월)</p> -->
                                                    <p class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{go_airline.departure_data | date:'n월 j일 (D)'}}</p>
                                                </div>  <!--항공사 로고 대체 -->

                                                <div class="media-body tm-media-body tm-bg-gray ">
                                                    <!-- <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">06:05 - 07:10</h4>   -->
                                                    <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{go_airline.departure_time | date:'H:i'}} - {{go_airline.arrival_time | date:'H:i'}}</h4>
                                                </div>  
                                                <div class="media-body tm-media-body tm-bg-gray">
                                                    <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{go_airline.departure_place}}({{go_airline.departure_airport}}) - {{go_airline.arrival_place}}({{go_airline.arrival_airport}})</h4>
                                                </div> 
                                                <div class="media-body tm-media-body tm-bg-gray ">
                                                    {% if seat == '1' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{go_airline.economy_price | intcomma}}원</h4>
                                                    {% elif seat == '2' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{go_airline.premium_price | intcomma}}원</h4>
                                                    {% elif seat == '3' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{go_airline.business_class_price | intcomma}}원</h4>
                                                    {% elif seat == '4' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{go_airline.first_class_price | intcomma}}원</h4>
                                                    {% endif %}
                                                </div> 
                                                 <div class="media-body tm-media-body tm-bg-gray m">
                                                    <button class="btn btn-primary btn-searchList">항공편 변경</button>
                                                </div>                                                    
                                        </li>

                                    </ul>
                                   
                                </div>
                            </div>                            
                        </div>            
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-recommended-container">
                            <div class="tm-bg-white">
                                <div class="tm-bg-primary tm-sidebar-pad">
                                    <h3 class="tm-color-white tm-sidebar-title">오는편 선택|{{date_month}}월 {{date_day}}일</h3>                                    
                                </div>
                                <div class="tm-sidebar-pad-2">
                                    <ul class="searchList">
                                       
                                        <li class="searchList-item">
                                            {% for airline in airline_list%}
                                                <div class="media-body tm-media-body tm-bg-gray">
                                                    <img src="/media/air_img/{{airline.airline_id.air_img}}" alt="Image">
                                                    <p class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{airline.airline_id.name}}</p>
                                                </div>  <!--항공사 로고 대체 -->

                                                <div class="media-body tm-media-body tm-bg-gray ">
                                                    <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{airline.departure_time | date:'H:i'}} - {{airline.arrival_time | date:'H:i'}}</h4>
                                                    <p class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{airline.departure_data | date:'n월 j일 (D)'}}</p>
                                                </div>  
                                     

                                                <div class="media-body tm-media-body tm-bg-gray">
                                                    {% if seat == '1' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Economy Class</h4>
                                                    {% elif seat == '2' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Premium Class</h4>
                                                    {% elif seat == '3' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Business Class</h4>
                                                    {% elif seat == '4' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">First Class</h4>
                                                    {% endif %}
                                                    <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{airline.departure_airport}} - {{airline.arrival_airport}}</h4>
                                                </div> 

                                                <div class="media-body tm-media-body tm-bg-gray ">
                                                    <p class="text-uppercase tm-font-semibold tm-sidebar-item-title"> 요금</p>
                                                    {% if seat == '1' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{airline.economy_price | intcomma}}원</h4>
                                                    {% elif seat == '2' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{airline.premium_price | intcomma}}원</h4>
                                                    {% elif seat == '3' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{airline.business_class_price | intcomma}}원</h4>
                                                    {% elif seat == '4' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{airline.first_class_price | intcomma}}원</h4>
                                                    {% endif %}
                                                </div> 
                                                 <div class="media-body tm-media-body tm-bg-gray m">
                                                    <form action="reservation_add" method="post">{% csrf_token %}
                                                        <input type="hidden" id="go_id" name="go_id" value="{{go_airline.id}}"></input>
                                                        <input type="hidden" id="come_id" name="come_id" value="{{airline.id}}"></input>
                                                        <input type="hidden" id="seat" name="seat" value="{{seat}}"></input>
                                                        <input type="hidden" id="adult" name="adult" value="{{adult}}"></input>
                                                        <input type="hidden" id="children" name="children" value="{{children}}"></input>
                                                        <input type="hidden" id="section" name="section" value="round_trip"></input>
                                                        <button type="submit" class="btn btn-primary btn-searchList">예약</button>
                                                    </form>
                                                </div>
                                            {% endfor %}
                                        </li>

                                    </ul>
                                   
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
{%endblock content%}
{%block script%}            
        <script>



               function setPageNav(){
                if($(window).width() > 991) {
                    $('#tm-top-bar').singlePageNav({
                        currentClass:'active',
                        offset: 79
                    });   
                }
                else {
                    $('#tm-top-bar').singlePageNav({
                        currentClass:'active',
                        offset: 65
                    });   
                }
            }
        

            function togglePlayPause() {
                vid = $('.tmVideo').get(0);

                if(vid.paused) {
                    vid.play();
                    $('.tm-btn-play').hide();
                    $('.tm-btn-pause').show();
                }
                else {
                    vid.pause();
                    $('.tm-btn-play').show();
                    $('.tm-btn-pause').hide();   
                }  
            }
       
            $(document).ready(function(){

                $(window).on("scroll", function() {
                    if($(window).scrollTop() > 100) {
                        $(".tm-top-bar").addClass("active");
                        $(".login").addClass("active");
                    } else {
                        //remove the background property so it comes transparent again (defined in your css)
                       $(".tm-top-bar").removeClass("active");
                       $(".login").removeClass("active");
                    }
                });      

                // Google Map
              
                $(window).resize(function() {
                  setCarousel();
                  setPageNav();
                });

                // Close navbar after clicked
                $('.nav-link').click(function(){
                    $('#mainNav').removeClass('show');
                });

                // Control video
                $('.tm-btn-play').click(function() {
                    togglePlayPause();                                      
                });

                $('.tm-btn-pause').click(function() {
                    togglePlayPause();                                      
                });

                // Update the current year in copyright
                $('.tm-current-year').text(new Date().getFullYear());                           
            });

        </script>             
{%endblock script%}