{%extends "base.html"%}
{% load static %}
{% load humanize %}
{%block content%}
            <div class="tm-section tm-section-pad tm-bg-gray searchList" id="tm-section-4">
                <div class="container">
                    <div class="row">        
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-recommended-container">
                            <div class="tm-bg-white">
                               
                                <div class="tm-sidebar-pad-2">
                                    <ul class="searchList">
                                       
                                        <li class="searchList-checkedItem">
                                            <div class="media-body tm-media-body tm-bg-gray">
                                                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">가는편</h4>
                                            </div>
                                                <div class="media-body tm-media-body tm-bg-gray">
                                                    <!-- <p class="text-uppercase tm-font-semibold tm-sidebar-item-title">1월 11일(월)</p> -->
                                                    <p class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{go_airline.departure_data | date:'n월 j일 (D)'}}</p>
                                                </div>  <!--항공사 로고 대체 -->

                                                <div class="media-body tm-media-body tm-bg-gray ">
                                                    <!-- <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">06:05 - 07:10</h4>   -->
                                                    <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{go_airline.departure_time | date:'H:i'}} - {{go_airline.arrival_time | date:'H:i'}}</h4>
                                                </div>  
                                                <div class="media-body tm-media-body tm-bg-gray">
                                                    <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{go_airline.departure_place}}({{go_airline.departure_airport}}) - {{go_airline.arrival_place}}({{go_airline.arrival_airport}})</h4>
                                                </div> 
                                                <div class="media-body tm-media-body tm-bg-gray ">
                                                    {% if seat == '1' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{go_airline.economy_price | intcomma}}원</h4>
                                                    {% elif seat == '2' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{go_airline.premium_price | intcomma}}원</h4>
                                                    {% elif seat == '3' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{go_airline.business_class_price | intcomma}}원</h4>
                                                    {% elif seat == '4' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{go_airline.first_class_price | intcomma}}원</h4>
                                                    {% endif %}
                                                </div> 
                                                 <div class="media-body tm-media-body tm-bg-gray m">
                                                    <form action="searchList_go" method="post">{% csrf_token %}
                                                        <input type="hidden" id="departure_place" name="departure_place" value="{{departure_place}}"></input>
                                                        <input type="hidden" id="arrival_place" name="arrival_place" value="{{arrival_place}}"></input>
                                                        <input type="hidden" id="adult" name="adult" value="{{adult}}"></input>
                                                        <input type="hidden" id="children" name="children" value="{{children}}"></input>
                                                        <input type="hidden" id="seat" name="seat" value="{{seat}}"></input>
                                                        <input type="hidden" id="arrival_date" name="arrival_date" value="{{arrival_date}}"></input>
                                                        <input type="hidden" id="departure_data" name="departure_data" value="{{departure_data}}"></input>
                                                        <input type="hidden" id="section" name="section" value="round_trip"></input>
                                                        <input type="hidden" id="order" name="order" value={{order}}></input>
                                                        <button type="submit" class="btn btn-primary btn-searchList">항공편 변경</button>
                                                    </form>
                                                </div>
                                        </li>

                                    </ul>
                                   
                                </div>
                            </div>                            
                        </div>            
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-recommended-container">
                            <div class="tm-bg-white">
                                <div class="tm-bg-primary tm-sidebar-pad">
                                    <h3 class="tm-color-white tm-sidebar-title">오는편 선택|{{date_month}}월 {{date_day}}일</h3>   
                                    <i class="fa fa-calendar fa-2x" id="dateIcon"></i>
                                    <input name="check-in" type="text" id="selectedDate" value="{{arrival_date}}">
                                    <form action="searchList_come" method="post" id="research">{% csrf_token %}
                                        <input type="hidden" id="go_id" name="go_id" value="{{go_airline.id}}"></input>
                                        <input type="hidden" id="departure_place" name="departure_place" value="{{departure_place}}"></input>
                                        <input type="hidden" id="arrival_place" name="arrival_place" value="{{arrival_place}}"></input>
                                        <input type="hidden" id="departure_data" name="departure_data" value="{{departure_data}}"></input>
                                        <input type="hidden" id="arrival_date" name="arrival_date" value="{{arrival_date}}"></input>
                                        <input type="hidden" id="adult" name="adult" value="{{adult}}"></input>
                                        <input type="hidden" id="children" name="children" value="{{children}}"></input>
                                        <input type="hidden" id="seat" name="seat" value="{{seat}}"></input>
                                        <input type="hidden" id="section" name="section" value="{{section}}"></input>
                                        <input type="hidden" id="order" name="order" value="{{order}}"></input>
                                        <button type="submit" class="btn-search" >검색</a>
                                    </form>
                                </div>
                                <div>
                                    <form action="searchList_come" method="post" id="order-search">{% csrf_token %}
                                        <input type="hidden" id="go_id" name="go_id" value="{{go_airline.id}}"></input>
                                        <input type="hidden" id="departure_place" name="departure_place" value="{{departure_place}}"></input>
                                        <input type="hidden" id="arrival_place" name="arrival_place" value="{{arrival_place}}"></input>
                                        <input type="hidden" id="adult" name="adult" value="{{adult}}"></input>
                                        <input type="hidden" id="children" name="children" value="{{children}}"></input>
                                        <input type="hidden" id="seat" name="seat" value="{{seat}}"></input>
                                        <input type="hidden" id="arrival_date" name="arrival_date" value="{{arrival_date}}"></input>
                                        <input type="hidden" id="departure_data" name="departure_data" value="{{departure_data}}"></input>
                                        <input type="hidden" id="section" name="section" value="round_trip"></input>
                                        <select name="order" class="form-control tm-select" id="order" onchange="javascript:this.form.submit()">
                                            {% if order %}
                                                {% if order == '1' %}
                                                    <option value="1" selected>가격(낮은순)</option>
                                                    <option value="2">출발시간(이른순)</option>
                                                    <option value="3">출발시간(늦은순)</option>
                                                {% elif order == '2' %}
                                                    <option value="1">가격(낮은순)</option>
                                                    <option value="2" selected>출발시간(이른순)</option>
                                                    <option value="3">출발시간(늦은순)</option>
                                                {% elif order == '3' %}
                                                    <option value="1">가격(낮은순)</option>
                                                    <option value="2">출발시간(이른순)</option>
                                                    <option value="3" selected>출발시간(늦은순)</option>
                                                {% endif %}
                                            {% else %}
                                                <option value="1">가격(낮은순)</option>
                                                <option value="2">출발시간(이른순)</option>
                                                <option value="3">출발시간(늦은순)</option>
                                            {% endif %}
                                        </select>
                                        <button type="submit" class="btn-search" >검색</a>
                                    </form>
                                </div>
                                <div class="tm-sidebar-pad-2">
                                    <ul class="searchList">
                                        {% for airline in airline_list%}
                                        <li class="searchList-item">
                                            
                                                <div class="media-body tm-media-body tm-bg-gray">
                                                    <img src="/media/air_img/{{airline.airline_id.air_img}}" alt="Image">
                                                    <p class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{airline.airline_id.name}}</p>
                                                </div>  <!--항공사 로고 대체 -->

                                                <div class="media-body tm-media-body tm-bg-gray ">
                                                    <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{airline.departure_time | date:'H:i'}} - {{airline.arrival_time | date:'H:i'}}</h4>
                                                    <p class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{airline.departure_data | date:'n월 j일 (D)'}}</p>
                                                </div>  
                                     

                                                <div class="media-body tm-media-body tm-bg-gray">
                                                    {% if seat == '1' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Economy Class</h4>
                                                    {% elif seat == '2' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Premium Class</h4>
                                                    {% elif seat == '3' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Business Class</h4>
                                                    {% elif seat == '4' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">First Class</h4>
                                                    {% endif %}
                                                    <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{airline.departure_airport}} - {{airline.arrival_airport}}</h4>
                                                </div> 

                                                <div class="media-body tm-media-body tm-bg-gray ">
                                                    <p class="text-uppercase tm-font-semibold tm-sidebar-item-title"> 요금</p>
                                                    {% if seat == '1' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{airline.economy_price | intcomma}}원</h4>
                                                    {% elif seat == '2' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{airline.premium_price | intcomma}}원</h4>
                                                    {% elif seat == '3' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{airline.business_class_price | intcomma}}원</h4>
                                                    {% elif seat == '4' %}
                                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{airline.first_class_price | intcomma}}원</h4>
                                                    {% endif %}
                                                </div> 
                                                 <div class="media-body tm-media-body tm-bg-gray m">
                                                    <form action="reservation_add" method="post">{% csrf_token %}
                                                        <input type="hidden" id="go_id" name="go_id" value="{{go_airline.id}}"></input>
                                                        <input type="hidden" id="come_id" name="come_id" value="{{airline.id}}"></input>
                                                        <input type="hidden" id="seat" name="seat" value="{{seat}}"></input>
                                                        <input type="hidden" id="adult" name="adult" value="{{adult}}"></input>
                                                        <input type="hidden" id="children" name="children" value="{{children}}"></input>
                                                        <input type="hidden" id="section" name="section" value="round_trip"></input>
                                                        <button type="submit" class="btn btn-primary btn-searchList">예약</button>
                                                    </form>
                                                </div>
                                            
                                        </li>
                                        {% endfor %}
                                    </ul>
                                   
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
{%endblock content%}
{%block script%}
            <script src="{%static 'js/searchList-js.js'%}"></script>
{%endblock script%}