{%extends "base.html"%}
{% load static %}
{%block content%}
            <div class="tm-section tm-section-pad tm-bg-img tm-position-relative" id="tm-section-6">
                <div class="container ie-h-align-center-fix">
                    <div class="row login-box">
                
                        <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-5 mt-3 mt-md-0">
                            <div class="tm-bg-white tm-p-4">
                                <form action="userCheck" method="post" class="contact-form">{% csrf_token %}
                                    <div class="form-group email">
                                        <input type="email" id="contact_email" name="email" class="form-control email" placeholder="Email"  required/>
                                        <button type="submit" class="btn btn-primary tm-btn-primary email">check</button>
                                    </div>
                                     <!-- 아이디 중복확인 버튼 추가-->
                                    <div class="form-group">
                                        <input type="password" id="contact_pw" name="password" class="form-control" placeholder="Password" onchange="check_pw()" required/>
                                        <!-- Passwrod 규칙 체크-->
                                    </div>
                                    <div class="form-group id">
                                        <input type="text" id="contact_idfront" name="birthday" class="form-control id" placeholder="YYMMDD" maxlength="6">
                                        <h4>&nbsp - &nbsp</h4>
                                        <input type="text" id="contact_idback" name="sex" class="form-control idback" maxlength="1"> <h4>******</h4>
                                        
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="contact_name" name="name_ko" class="form-control" placeholder="KoreanName"  required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="contact_englishname" name="name_eng" class="form-control" placeholder="EnglishName"  required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="contact_phone" name="call" class="form-control" maxlength="13" placeholder="Phone"  required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="contact_passport" name="passport" class="form-control" placeholder="Passport No."  maxlength="9" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" list="country" id="contact_country" name="country" class="form-control" placeholder="Country" required/>
                                        <datalist id="country">
                                            <option value="대한민국">
                                            <option value="미국">
                                            <option value="일본">
                                            <option value="중국">
                                            <option value="영국">
                                        </datalist>
                                    </div>
                                   
                                    <button type="submit" class="btn btn-primary tm-btn-primary">Login</button>
                                </form>
                            </div>                            
                        </div>
                    </div>        
                </div>
            </div>
{%endblock content%}
{%block script%}
        <script>


               function setPageNav(){
                if($(window).width() > 991) {
                    $('#tm-top-bar').singlePageNav({
                        currentClass:'active',
                        offset: 79
                    });   
                }
                else {
                    $('#tm-top-bar').singlePageNav({
                        currentClass:'active',
                        offset: 65
                    });   
                }
            }
        

            function togglePlayPause() {
                vid = $('.tmVideo').get(0);

                if(vid.paused) {
                    vid.play();
                    $('.tm-btn-play').hide();
                    $('.tm-btn-pause').show();
                }
                else {
                    vid.pause();
                    $('.tm-btn-play').show();
                    $('.tm-btn-pause').hide();   
                }  
            }
       
            $(document).ready(function(){

                $(window).on("scroll", function() {
                    if($(window).scrollTop() > 100) {
                        $(".tm-top-bar").addClass("active");
                        $(".login").addClass("active");
                    } else {
                        //remove the background property so it comes transparent again (defined in your css)
                       $(".tm-top-bar").removeClass("active");
                       $(".login").removeClass("active");
                    }
                });      

            

                $(window).resize(function() {
                  setCarousel();
                  setPageNav();
                });

                // Close navbar after clicked
                $('.nav-link').click(function(){
                    $('#mainNav').removeClass('show');
                });

                // Control video
                $('.tm-btn-play').click(function() {
                    togglePlayPause();                                      
                });

                $('.tm-btn-pause').click(function() {
                    togglePlayPause();                                      
                });

                // Update the current year in copyright
                $('.tm-current-year').text(new Date().getFullYear());                           
            });

            function check_pw() {
                let pw = document.getElementById('contact_pw').value;
                const SC = /[~!@#$%^&*]/;
                const num = /[0-9]/;
                const eng = /[a-zA-Z]/;

                if (pw.length < 8)
                {
                    window.alert('비밀번호는 8글자 이상 입력해야 합니다.');
                    document.getElementById('contact_pw').value = '';
                }
                else if (!num.test(pw) || !eng.test(pw) || !SC.test(pw))
                {
                    window.alert('비밀번호는 숫자, 영어, 특수문자 조합으로 만들어야 합니다.');
                    document.getElementById('contact_pw').value = '';
                }
            }

            let autoHypenPhone = function(str){
                str = str.replace(/[^0-9]/g, '');
                let tmp = '';
                if( str.length < 4){
                    return str;
                }else if(str.length < 7){
                    tmp += str.substr(0, 3);
                    tmp += '-';
                    tmp += str.substr(3);
                    return tmp;
                }else if(str.length < 11){
                    tmp += str.substr(0, 3);
                    tmp += '-';
                    tmp += str.substr(3, 3);
                    tmp += '-';
                    tmp += str.substr(6);
                    return tmp;
                }else{              
                    tmp += str.substr(0, 3);
                    tmp += '-';
                    tmp += str.substr(3, 4);
                    tmp += '-';
                    tmp += str.substr(7);
                    return tmp;
                }
            
                return str;
            }
            var phoneNum = document.getElementById('contact_phone');

            phoneNum.onkeyup = function(){
                console.log(this.value);
                this.value = autoHypenPhone( this.value ) ;  
            }

        </script>             
{%endblock script%}