{%extends "base.html"%}
{% load static %}
{%block content%}
            <div class="tm-section tm-bg-img" id="tm-section-1">
                <div class="tm-bg-white ie-container-width-fix-2">
                    <div class="container ie-h-align-center-fix">
                        <div class="row">
                            <div class="col-xs-12 ml-auto mr-auto ie-container-width-fix">
                                <form action="/air_app/searchList_go" method="POST" class="tm-search-form tm-section-pad-2">{% csrf_token %}
                                    <div class="form-row tm-search-form-row">
                                        <div class="form-group tm-form-element tm-form-element-100">
                                            <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
                                            <select name="departure_place" type="text" class="form-control tm-select" id="departureCity" >
                                                <option value ="">출발</option>
                                                {% for departure_place in departure_place_list %}
                                                <option value="{{ departure_place.departure_place }}">{{ departure_place.departure_place }}</option> 
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group tm-form-element tm-form-element-100">
                                            <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
                                            <select name="arrival_place" type="text" class="form-control tm-select" id="arrivalCity" >
                                                <option value="">도착</option>
                                                {% for arrival_place in arrival_place_list %}
                                                <option value="{{ arrival_place.arrival_place }}">{{ arrival_place.arrival_place }}</option> 
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group tm-form-element tm-form-element-50">
                                            <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
                                            <input name="departure_data" type="date" class="form-control" id="departure_data" placeholder="출발하는 날짜">
                                        </div>
                                        <div class="form-group tm-form-element tm-form-element-50">
                                            <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
                                            <input name="arrival_data" type="date" class="form-control" id="arrival_data" placeholder="도착하는 날짜">
                                        </div>
                                    </div>

                                    <!-- 성인 어린이 갯수 증가 박스 수정-->
                                    <div class="form-row tm-search-form-row">
                                        <div class="form-group tm-form-element tm-form-element-2">                                            
                                            <select name="adult" class="form-control tm-select" id="adult">
                                                <option value="">Adult</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                            <i class="fa fa-2x fa-user tm-form-element-icon"></i>
                                        </div>
                                        <div class="form-group tm-form-element tm-form-element-2">                                            
                                            <select name="children" class="form-control tm-select" id="children">
                                                <option value="">Children</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                            <i class="fa fa-user tm-form-element-icon tm-form-element-icon-small"></i>
                                        </div>
                                        <div class="form-group tm-form-element tm-form-element-2">
                                            <select name="seat" class="form-control tm-select" id="seat">
                                                <option value="1">일반석</option>
                                                <option value="2">프리미엄</option>
                                                <option value="3">비즈니스석</option>
                                                <option value="4">일등석</option>
                                            </select>
                                            <i class="fa fa-2x fa-plane tm-form-element-icon"></i>
                                        </div>
                                         <div class="form-group tm-form-element tm-form-element-2">
                                            <select name="section" class="form-control tm-select" id="section">
                                                <option value="round_trip">왕복</option>
                                                <option value="one_way">편도</option>
                                            </select>
                                            <i class="fa fa-2x fa-plane tm-form-element-icon"></i>
                                        </div>
                                        <div class="form-group tm-form-element tm-form-element-2">
                                            <button type="submit" class="btn btn-primary tm-btn-search" onclick="return searchCheck()">Flight Search</button>
                                        </div>
                                      </div>
                                </form>
                            </div>                        
                        </div>      
                    </div>
                </div>                  
            </div>
            
           
            <div class="tm-section tm-section-pad tm-bg-gray" id="tm-section-2">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div id="tm-article-carousel">
                                {% for rank in ranking_list %}
                                <article class="tm-bg-white mr-2 tm-carousel-item">
                                    <img src="/media/place_img/{{rank.go_ticket_id.arrival_place}}.png" alt="Image" class="img-fluid">
                                    <div class="tm-article-pad">
                                        <header><h3 class="text-uppercase tm-article-title-2">{{rank.go_ticket_id.departure_place}} &lt-&gt {{rank.go_ticket_id.arrival_place}}</h3></header>
                                        <p>왕복 | {{rank.go_ticket_id.departure_data | date:'n월 j일 (D)'}} - {{rank.come_ticket_id.departure_data | date:'n월 j일 (D)'}}</p>
                                        <form action="air_app/searchList_go" method="post">{% csrf_token %}
                                            <input type="hidden" id="departure_place" name="departure_place" value="{{rank.go_ticket_id.departure_place}}"></input>
                                            <input type="hidden" id="arrival_place" name="arrival_place" value="{{rank.go_ticket_id.arrival_place}}"></input>
                                            <input type="hidden" id="departure_data" name="departure_data" value="{{rank.go_ticket_id.departure_data | date:'Y-m-d'}}"></input>
                                            <input type="hidden" id="arrival_data" name="arrival_data" value="{{rank.come_ticket_id.departure_data | date:'Y-m-d'}}"></input>
                                            <input type="hidden" id="adult" name="adult" value="1"></input>
                                            <input type="hidden" id="children" name="children" value=""></input>
                                            <input type="hidden" id="seat" name="seat" value="1"></input>
                                            <input type="hidden" id="section" name="section" value="round_trip"></input>
                                            <button type="submit" class="text-uppercase btn-primary tm-btn-primary">검색</a>
                                        </form>
                                    </div>
                                </article>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tm-section-2", id="tm-section-3">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <h4 class="tm-section-title">주요 항공사별 특가</h4>
                            {% for airline in airline_list %}
                            <p href="" class="tm-color-white tm-btn-white-bordered" id="{{airline.id}}" onclick="airlineSelected(this.id)">{{airline.name}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="tm-section tm-position-relative">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">
                    <polygon fill="#ee5057" points="0,0  100,0  50,60"></polygon>                   
                </svg> 
                <div class="container tm-pt-5 tm-pb-4">
                    <div class="row text-center" id="special_ticket">
                            {% for ticket in tickets %}
                            <article class='col-sm-6 col-md-4 col-lg-3 col-xl-3 tm-article '>                            
                                <h4 class="tm-color-primary tm-article-title-1">{{ticket.departure_place}} -&gt {{ticket.arrival_place}}</h4>
                                <p class="tm-article-content">{{ticket.departure_data | date:'n월 j일 (D)'}}</p>
                                <a href="#" class="text-uppercase tm-color-primary tm-font-semibold  tm-article-price">최저가 : {{ticket.economy_price}}원</a>
                                <form action="air_app/searchList_go" method="post">{% csrf_token %}
                                    <input type="hidden" id="departure_place" name="departure_place" value="{{ticket.departure_place}}"></input>
                                    <input type='hidden' id='arrival_place' name='arrival_place' value='{{ticket.arrival_place}}'></input>
                                    <input type='hidden' id='departure_data' name='departure_data' value='{{ticket.departure_data | date:'Y-m-d'}}'></input>
                                    <input type='hidden' id='arrival_data' name='arrival_data' value='{{ticket.departure_data | date:'Y-m-d'}}'></input>
                                    <input type='hidden' id='adult' name='adult' value='1'></input>
                                    <input type='hidden' id='children' name='children' value=''></input>
                                    <input type='hidden' id='seat' name='seat' value='1'></input>
                                    <input type='hidden' id='section' name='section' value='one_way'></input>
                                    <button type='submit' class='text-uppercase btn-primary tm-btn-primary'>검색</a>
                                </form>
                            </article>
                            {% endfor %}
                    </div>        
                </div>
            </div>


{%endblock content%}
{%block script%}
            <script src="{%static 'js/index-js.js'%}"></script>
{%endblock script%}