{%extends "base.html"%}
{% load static %}
{% load humanize %}
{%block content%}

                    <div class="tm-section tm-section-pad tm-bg-img" id="tm-section-5">                                                        
                        <div class="container ie-h-align-center-fix">
                            <div class="row tm-flex-align-center">
                                <div class="col-xs-12 col-md-12 col-lg-9 col-xl-9 mt-0 mt-sm-3">
                                    <div class="ml-auto tm-bg-white-shadow tm-pad tm-media-container">
                                        <article class="media tm-margin-b-20 tm-media-1">
                                            <div class="media-body tm-media-body-1 tm-media-body-v-center">
                                                <h3 class="tm-font-semibold tm-color-primary tm-article-title-3">Suspendisse vel est libero sem phasellus ac laoreet</h3>
                                                <p>Vivamus eget tellus ornare, sollicitudin quam id, dictum nulla. Phasellus finibus rhoncus justo, tempus eleifend neque dictum ac. Aenean metus leo, consectetur non. 
                                                <br><br>
                                                Etiam aliquam arcu at mauris consectetur scelerisque. Integer elementum justo in orci facilisis ultricies. Pellentesque at velit ante. Duis scelerisque metus vel felis porttitor gravida.</p>
                                            </div>
                                        </article>
                                        {% for board in board_list %}
                                        <article class="media tm-margin-b-20 tm-media-1">
                                            <div class="media-body tm-media-body-1 tm-media-body-v-center">
                                                <h3 class="tm-font-semibold tm-color-primary tm-article-title-3">{{board.title}}</h3>
                                                <p>{{board.write_date}}, {{board.read_count}}, {{board.board_name}}</p>
                                            </div>
                                            <form action="board_view" method="post">{% csrf_token %}
                                                <input type="hidden" id="board_id" name="board_id" value="{{board.id}}"></input>
                                                <button type='submit' class='text-uppercase btn-primary tm-btn-primary'>보기</a>
                                            </form>
                                        </article>
                                        {% endfor %}
                                        <a href="board_input" class="text-uppercase tm-color-primary tm-font-semibold">작성</a>
                                    </div>                            
                                </div>
                            </div>
                        </div>
                    </div>
{%endblock content%}